bash.tar.zst
binutils.tar.zst
btrfs.tar.zst
coreutils.tar.zst
git.tar.zst
glibc.tar.zst
kwin.tar.zst
linux.tar.zst
llvm.tar.zst
ncursesw.tar.zst
plasma.tar.zst
su.tar.zst
sudo.tar.zst
tar.tar.zst
util.tar.zst