bash
binutils
btrfs-progs
coreutils
git
glibc
kwin
linux
llvm
ncurses
plasma
sudo
util

bash-inst
binutils-inst
btrfs-inst
coreutils-inst
git-inst
glibc-inst
kwin-inst
linux-inst
llvm-inst
ncurses-inst
plasma-inst
su-inst
sudo-inst
util-inst

bash.tar.zst
binutils.tar.zst
btrfs.tar.zst
coreutils.tar.zst
git.tar.zst
glibc.tar.zst
kwin.tar.zst
linux.tar.zst
llvm.tar.zst
ncurses.tar.zst
plasma.tar.zst
su.tar.zst
sudo.tar.zst
util.tar.zst