bash.tar.zst
git.tar.zst
glibc.tar.zst
kwin.tar.zst
linux.tar.zst
llvm.tar.zst
ncursesw.tar.zst
plasma.tar.zst
rustup.tar.zst
sudo.tar.zst
tar.tar.zst
util.tar.zst

bash.tar.zst.old
git.tar.zst.old
glibc.tar.zst.old
kwin.tar.zst.old
linux.tar.zst.old
llvm.tar.zst.old
ncursesw.tar.zst.old
plasma.tar.zst.old
rustup.tar.zst.old
sudo.tar.zst.old
tar.tar.zst.old
util.tar.zst.old